%ol.breadcrumb
  %li.breadcrumb-item
    - if !@user.blank?
      = link_to "Users", admin_users_path
    - else
      = link_to "Shipments", admin_shipments_path
  %li.breadcrumb-item
    - if !@user.blank?
      = link_to @user.id, admin_user_path(@user)
    - else
      = link_to @shipment.id, admin_shipment_path(@shipment)
  %li.breadcrumb-item.active Edit Address

.card
  .card-body
    .d-flex.justify-content-between
      %h3 Editing Address #{@address.id}
      .actions
        = link_to 'Show', [:admin, @user], class: 'btn btn-light'

    %hr
    - if !@user.blank?
      = form_for [:admin, @user, @address] do |f|
        .row.justify-content-center
          .col-sm-6        
            = render 'form_fields', f: f, address: @address
            %hr
            .actions
              = f.submit 'Save', class: 'btn btn-primary btn-block', data: {disable_with: 'Saving...'}
    - else
      = form_for [:admin, @shipment, @address] do |f|
        .row.justify-content-center
          .col-sm-6
            = render 'form_fields', f: f, address: @address
            %hr
            .actions
              = f.submit 'Save', class: 'btn btn-primary btn-block', data: {disable_with: 'Saving...'}
