%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "SIMs", admin_sims_path
  %li.breadcrumb-item.active New SIM

.card
  .card-body
    .d-flex.justify-content-between
      %h3 New SIM

    %hr
    = form_for [:admin, @sim] do |f|
      .row.justify-content-center
        .col-sm-6
          .form-group
            = f.label :sid, class: ''
            = f.text_field :sid, class: 'form-control'  
            %small.form-text.text-muted Leave empty if you want to auto-create SIM with one on Twilio
          .form-group
            = f.label :name, class: ''
            = f.text_field :name, class: 'form-control'  
          .form-group
            = f.label :country_code, class: ''
            = f.text_field :country_code, class: 'form-control'   
          .form-group
            = f.label :user_id, class: ''
            = f.select :user_id, options_for_select(User.all.collect { | user | [user.name, user.id] }, params[:user_id]), {include_blank: "Select"}, {class: 'form-control'}
          .form-check
            = f.check_box :test_sim, class: 'form-check-input'
            = f.label :test_sim, class: 'form-check-label'          

          %hr
          .actions
            = f.submit 'Create', class: 'btn btn-primary btn-block', data: {disable_with: 'Creating...'}
