.authform.mx-auto
  = render 'registration_steps/registration_wizard_steps', step: 'shipping'
  .card
    .card-body
      = form_for @user, url: wizard_path, method: :put do |f|
        %p.lead.text-center= t('views.registration.add_shipping')
        %hr
        = form_error_messages(@user)
        .form-row
          .col.form-group
            = f.text_field :first_name, class: 'form-control', placeholder: t('forms.first_name'), required: true
          .col.form-group
            = f.text_field :last_name, class: 'form-control', placeholder: t('forms.last_name'), required: true
        = f.fields_for :shipping_address do |ff|
          = render 'forms/addresses/form_fields', f: ff, address: @user.shipping_address
        = f.submit t('buttons.next'), :class => 'btn btn-primary btn-block', data: { disable_with: t('buttons.loading') }
      