%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Users", admin_users_path
  %li.breadcrumb-item
    = link_to @user.id, admin_user_path(@user)
  %li.breadcrumb-item.active New Trip

.card
  .card-body
    .d-flex.justify-content-between
      %h3 New Trip

    %hr
      = form_for [:admin, @user, @trip] do |f|
        .row.justify-content-center
          .col-sm-6
            = render 'form_fields', f: f, trip: @trip
            %hr
            .actions
              = f.submit 'Create', class: 'btn btn-primary btn-block', data: {disable_with: 'Creating...'}