- if country.errors.any?
  #error_explanation
    %h2= "#{pluralize(country.errors.count, "error")} prohibited this Country from being saved:"
    %ul
      - country.errors.full_messages.each do |message|
        %li= message

.form-group
  = f.label :name, class: ''
  = f.text_field :name, class: 'form-control'
.form-group
  = f.label :official_name, class: ''
  = f.text_field :official_name, class: 'form-control'
.form-group
  = f.label :alpha_2_code, class: ''
  = f.text_field :alpha_2_code, class: 'form-control'
.form-group
  = f.label :alpha_3_code, class: ''
  = f.text_field :alpha_3_code, class: 'form-control'  