%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Users", admin_users_path
  %li.breadcrumb-item.active Edit User

.card
  .card-body
    .d-flex.justify-content-between
      %h3 Editing User #{@user.id}
      .actions
        = link_to 'Show', [:admin, @user], class: 'btn btn-light'

    %hr
    = form_for [:admin, @user] do |f|
      .row.justify-content-center
        .col-sm-6    
          = render 'form_fields', f: f, user: @user
          %hr
          .actions
            = f.submit 'Update', class: 'btn btn-primary btn-block', data: {disable_with: 'Updating...'}
